{% extends 'core/base.html' %}

{% block title %}Prontuários - VetSystem{% endblock %}

{% block page_header %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Prontuários</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <p>Módulo de prontuários em desenvolvimento.</p>
    </div>
</div>
{% endblock %}
